body {
  background-color: gray;
}

.nav {
  font-size: 1.8vw;
  background-color: darkgray;
}

.header {
  text-align:left;
  margin-top: 5%;
  margin-left: 2.8vw;
}

.nav-top {
  display: flex;
  flex-direction: row-reverse;
}

.nav-bottom {
  display: flex;
  flex-direction: row;
}

.nav-logo {
  height: 5vw;
  width: auto;
  margin-left: auto;
}

.nav-icon {
  margin-top: 1%;
  height: 5vw;
  width: auto;
}

.nav-title {
  margin-right: 5%;
}

.profile-icon {
  margin-top: 2%;
  height: 3vw;
  width: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2.8vw;
  width: 50vw;
  top: 50%;
  left: 50%;
  margin-top: 5%;
  margin-left: 2.8vw;
  
}

.cell {
    display: flex;
    flex-direction: column; 
    background-color: white;
    box-shadow:         0px 4px 9px 0px rgba(50, 50, 50, 0.75);
    width: 20vw;
}

.cell-img {
  
  height: 20vw;
  width: 20vw;
  background-size: cover;
  background-position: center;
  justify-content: center;
}

#mario {
  background-image: url(./assets/mario.png);
  background-color: lightgray;
  background-position-y: 5px;
  background-repeat: no-repeat;
}

#dk {
  background-image: url(./assets/dk.png);
  background-color: lightgray;
}

#link {
  background-image: url(./assets/link.png);
  background-color: lightgray;
}

#samus {
  background-image: url(./assets/samus.png);
  background-color: lightgray;
  background-position-y: 5px;
  background-repeat: no-repeat;
}

#yoshi {
  background-image: url(./assets/yoshi.png);
  background-color: lightgray;
  background-position-y: 5px;
  background-repeat: no-repeat;
}

#kirby {
  background-image: url(./assets/kirby.png);
  background-color: lightgray;
  
}

#fox {
  background-image: url(./assets/fox.png);
  background-color: lightgray;
  background-position-y: 5px;
  background-position-x: -10px;
  background-repeat: no-repeat;
}

#pikachu {
  background-image: url(./assets/pikachu.png);
  background-color: lightgray;
}

.character-symbol {
  height: 3vw;
  margin-right: 0;
}

.click-to-page {
  height: 3vw;
  
}

.cell-text {
  
}

.cell-h1 {
  font-size:2vw;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.cell-h2 {
  font-size: 2vw;
  margin-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.cell-h3 {
  margin-left: 10px;
  margin-right: 10px;
  font-size:1.5vw;
  margin-top: 0px;
  margin-bottom: 5px;
}

.cell-h4 {
  font-size:1vw;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 40em) {
  .grid {
    margin: 0 20%;
    grid-template-columns: auto;
    align-items: center;
  }

  .cell {
    width: 60vw;
  }

  .cell-img {
    height: 60vw;
    width: 60vw;
  }
  
}
