.nav {
  position: absolute;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 25%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }
  

}

/* items */

.cell  {
  backgound-color: gray;
  /* font-size: 20px; */
  padding: 1vw;
  height: 10vw;
  }

.character-img {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%; 
  margin-top: 15%; 
  height: 10vw;
  width: 10vw;
  z-index: 2;
}

.character-symbol {
  height: 10px;
  z-index: 3;
  position: absolute;
}

.click-to-page {
  height: 10px;
  position: absolute;
}

.cell-h1 {
  color: red;
  font-size:2vw;
}

.cell-h2 {
  font-size:2vw;
}

.cell-h3 {
  font-size:1vw;
}

.cell-h4 {
  font-size:.5vw;
}

@media screen and (max-width: 40em) {
  .grid {
    grid-template-columns: auto;
  }
}
