body {
  background-color: #6D6875;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav {
  font-size: 1.8vw;
  background-color: #1E1D20;
  color: white;
  margin: 0 0;
  box-shadow: 0px 4px 9px 0px #323232;
  max-height: 500px;
}

.nav-top {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 2.8vw;
}

.nav-bottom {
  display: flex;
  flex-direction: row;
  margin-left: 2.8vw;
  margin-right: 2.8vw;
}

.nav-logo {
  height: 5vw;
  width: auto;
  margin-left: auto;
}

.nav-icon {
  margin-top: 1%;
  height: 5vw;
  width: auto;
}

.nav-title {
  margin-right: 5%;
}

.profile-icon {
  margin-top: 2%;
  margin-right: 5px;
  height: 3vw;
  width: auto;
}

.header {
  text-align:left;
  margin-top: 5%;
  margin-left: 2.8vw;
  color: white;
  text-shadow: 0px 2px 2px #323232;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2.8vw;
  width: 50vw;
  top: 50%;
  left: 50%;
  margin-top: 5%;
  margin-left: 2.8vw;  
}

.cell {
    display: flex;
    flex-direction: column; 
    background-color: white;
    box-shadow: 0px 4px 9px 0px #323232;
    width: 20vw;
}

.cell-img {
  display: flex;
  flex-direction: column;
  height: 20vw;
  width: 20vw;
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  background-color: #FFCDB2;
}

.character-symbol {
  height: 6vw;
  width: 6vw;
  margin-left: 70%;
}

.click-to-page {
  height: 4vw;
  width: 4vw;
  margin-left: 5%;
  margin-bottom: 5%;
}

#mario {
  background-image: url(./assets/mario.png);
  background-position-y: 5px;
  background-repeat: no-repeat;
}

#dk {
  background-image: url(./assets/dk.png);
}

#link {
  background-image: url(./assets/link.png);
}

#samus {
  background-image: url(./assets/samus.png);
  background-position-y: 5px;
  background-repeat: no-repeat;
}

#yoshi {
  background-image: url(./assets/yoshi.png);
  background-position-y: 5px;
  background-repeat: no-repeat;
}

#kirby {
  background-image: url(./assets/kirby.png);
  
}

#fox {
  background-image: url(./assets/fox.png);
  background-position-y: 5px;
  background-position-x: -10px;
  background-repeat: no-repeat;
}

#pikachu {
  background-image: url(./assets/pikachu.png);
}

.cell-text {
  background-color: #B5838D;
  color: white;
  font-size: 1.4vw;
}
hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  margin-left: 10px;
  margin-right: 10px;
}

.cell-h1 {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.cell-h2 {
  margin-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.cell-h3 {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.cell-h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 40em) {

  .grid {
    margin: 0 20%;
    grid-template-columns: auto;
    align-items: center;
  }

  .cell {
    width: 60vw;
  }

  .cell-img {
    height: 60vw;
    width: 60vw;
  }

  .cell-text {
    height: 35vw;
    font-size: 2.5vw;
  }

  .character-symbol {
    height: 17vw;
    width: 17vw;
  }
  
  .click-to-page {
    height: 10vw;
    width: 10vw;
  }
}

@media screen and (min-width: 60em) {
  
  .header {
    margin-top: 1%;
  }

  .cell-text {
    font-size: .8vw;
  } 

  .grid {
    grid-gap: 1.3vw;
    margin-left: 2.8vw;  
    margin-top: 1%;
    width: .5vw

  }
  
  .cell {
      width: 12vw;
  }
  
  .cell-img {
    height: 12vw;
    width: 12vw;
  }

  .character-symbol {
    height: 3.5vw;
    width: 3.5vw;
  }
  
  .click-to-page {
    height: 2vw;
    width: 2vw;
  }
}

@media screen and (min-width: 85em) {
  
  .cell-text {
    font-size: .6vw;
  } 

  .grid {
    grid-gap: .6vw;
    margin-left: 2.8vw;  

  }
  
  .cell {
      width: 8vw;
  }
  
  .cell-img {
    height: 8vw;
    width: 8vw;
  }

  .character-symbol {
    height: 1vw;
    width: 1vw;
  }
  
  .click-to-page {
    height: .5vw;
    width: .5vw;
  }
}