.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 1em;
  justify-items: center;
}

.grid div {
  background-color: gray;
  font-size: 20px;
  height: 500px;
  width: 200px;
  }

.character-img {
  height: 5em;
}

.character-symbol {
  height: 10px;
}

.click-to-page {
  height: 10px;
}

.cell-h1 {
  color: red;
}

.cell-h2 {

}

.cell-h3 {

}

.cell-h4 {

}

@media screen and (max-width: 40em) {
  .grid {
    grid-template-columns: auto;
  }
}
